@import './variables.module';

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: $font-family-primary;
  background: $color-black;
  background: radial-gradient(
    circle,
    rgba($color-red, 1) 0%,
    rgba($color-black, 1) 100%
  );
}

main {
}

.page {
  height: 100%;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
