$color-blue: #4bb2f5;
$color-blue-light: #74c1e8;
$color-green: #65d54f;
$color-purple: #5e52b4;
$color-red: #f55652;
$color-white: #fff;
$color-gray: #e7e5e6;
$color-gray-dark: #7d7d7d;
$color-gray-darker: #131313;
$color-black: #000;

$color-cream: papayawhip;
$color-black-alt: #070707;
