$color-blue: #1b9dde;
$color-blue-light: #74c1e8;
$color-green: #98fb98;
$color-purple: #7748d4;
$color-purple-dark: #391978;
$color-red: #f71963;

$color-gray: #aeaeae;
$color-gray-light: #d2d2d2;
$color-gray-dark: #7d7d7d;

$color-gray-darker: #131313;

$color-white: #fff;

$color-black: #000;
