@import '../utilities/colors.module';

// Layers
$z-index-base: 0;
$z-index-layout: 1;
$z-index-main-layout: 2;
$z-index-video-background: 2;
$z-index-primary-content: 3;
$z-index-nav: 4;
$z-index-nav-button: 5;

// Transitions
$transition-fast: all 0.2s ease-in;
$transition-slow: all 0.3s ease-in;

// Font Families
$font-family-primary: 'Raleway', sans-serif;

// Borders
$border-radius-global: 1rem;
$border-width-global: 1px;

// Box-Shadow: "shadow-md"
$box-shadow: 0 1px 3px rgba($color-gray, 0.12),
  0 1px 2px rgba($color-black, 0.24);
