@import '../utilities/variables.module';
@import '../utilities/mixins.module';

.layout {
  background: $color-blue;
  background: radial-gradient(
    circle,
    rgba($color-red, 1) 0%,
    rgba($color-blue, 1) 100%
  );
  background-image: url('/images/demo-bg.jpeg');
  background-size: cover;
  width: 100%;
  background-position: center;
  background-attachment: fixed;
  padding: 16px 0;

  @include respond(tab-port) {
    padding: 16px;
  }
}
