@import '../utilities/colors.module';
@import '../utilities//variables.module';

.pageHeader__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100%;
  z-index: $z-index-main-layout;
}

.pageHeader {
  font-size: 60px;
}
