@import '../utilities/colors.module';
@import '../utilities/mixins.module';
@import '../utilities/variables.module';

.topLeftAction {
  position: absolute;
  top: 10px;
  left: 3.25%;
  z-index: $z-index-primary-content;

  @include respond(desktop) {
    top: 25px;
    right: 25px;
  }

  @include respond(big-desktop) {
    top: 50px;
    right: 50px;
  }
}

.topLeftAction__Content {
  @apply shadow-md;
  height: 25px;
  width: 25px;
  padding: 25px;
  border-radius: 50%;
  background-color: rgba($color-red, 0.85);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: $transition-fast;
  border: $border-width-global solid $color-gray;

  @include respond(tab-port) {
    height: 35px;
    width: 35px;
    padding: 40px;
  }

  @include respond(tab-land) {
    height: 40px;
    width: 40px;
    padding: 50px;
  }

  &:hover {
    background-color: rgba($color-white, 0.25);

    .topLeftAction__backArrow {
      &::after {
        border-color: rgba($color-red, 0.95);
      }
    }
  }
}

.topLeftAction__backArrow {
  position: relative;
  top: 3px;
  left: 5px;
  transition: $transition-fast;

  &::after {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    border-top: 0.3em solid $color-gray;
    border-right: 0.3em solid $color-gray;
    transform: rotate(-135deg);

    @include respond(tab-port) {
      width: 1.6em;
      height: 1.6em;
      border-top: 0.4em solid $color-gray;
      border-right: 0.4em solid $color-gray;
    }
  }
}
