@import '../utilities/variables.module';

.bioItem {
  display: flex;
  font-size: 30px;
  background-color: #f4dc9e;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow;
}

.bioItem__image {
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 250px;

  img {
    margin-right: auto;
  }
}

.bioItem__description {
  padding: 10px 18px 0;
  width: 100%;

  h4,
  h3,
  h5 {
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
  }
}
