@import '../utilities/variables.module';
@import '../utilities/colors.module';
@import '../components/buttons.module';

.eventList {
  color: $color-gray-darker;
}

.eventItem {
  display: flex;
  font-size: 30px;
  background-color: #f4dc9e;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow;
}

.eventItem__image {
  overflow: hidden;
  height: 160px;

  img {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
  }
}

.eventItem__description {
  padding: 10px 18px 0;

  h4,
  h3,
  h5 {
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }
}

.eventItem__actions {
  padding: 0 18px 10px;
  text-align: right;

  a {
    @extend .btn;
    margin-left: 10px;
  }
}
