@import '../utilities/variables.module';
@import '../utilities/colors.module';
@import '../components/buttons.module';

.eventList {
  color: $color-gray-darker;
}

.eventItem {
  display: flex;
  font-size: 30px;
  background-color: #f4dc9e;
  padding: 0.5rem 0.5rem;
  margin-top: 1rem;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(245, 166, 35, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.eventItem__image {
  position: relative;
  overflow: hidden;
  height: 160px;
  width: 160px; /* or any custom size */
}

.eventItem__description {
  padding: 10px 18px 0;

  h4,
  h3,
  h5 {
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }
}

.eventItem__actions {
  padding: 0 18px 10px;
  text-align: right;

  a {
    @extend .btn;
    margin-left: 10px;
  }
}
