@import '../utilities/variables.module';
@import '../utilities/colors.module';
@import '../utilities/mixins.module';
@import '../components/buttons.module';

.eventList {
  color: $color-gray-darker;
}

.eventItem {
  display: flex;
  flex-direction: column;
  font-size: 30px;
  padding: 16px;
  margin-top: 1rem;
  transition: all 0.25s;
  position: relative;
  box-shadow: $box-shadow;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(245, 166, 35, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  @include respond(tab-land) {
    flex-direction: row;
    padding: 8px;
  }
}

.eventItem__image {
  position: relative;
  overflow: hidden;
  height: 220px;
  width: 100%;

  @include respond(tab-land) {
    height: 160px;
    width: 160px;
  }
}

.eventItem__description {
  padding: 10px 0 0;
  text-align: center;

  @include respond(tab-land) {
    text-align: left;
    padding: 10px 18px 0;
  }

  h4,
  h3,
  h5 {
    text-transform: uppercase;
  }

  h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;
  }

  h5 {
    font-size: 18px;
  }

  p {
    font-size: 16px;
    text-align: left;
    text-indent: 12px;
    padding: 10px 0 0;
  }
}

.eventItem__actions {
  padding: 7px 10px;
  text-align: center;

  @include respond(tab-land) {
    padding: 0 18px 10px;
    text-align: right;
  }

  a {
    @extend .btn;
    margin-left: 10px;
    font-size: 10px;

    @include respond(tab-land) {
      font-size: 12px;
    }
  }
}
